* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik";
  line-height: 1;
  font-weight: 400;
  color: #1f2142;

  overflow-x: hidden;
}
/*********************************/
/* GENERAL REUSABLE COMPONENTS*/
/*********************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 0.5rem;
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}
.btn--cta:link,
.btn--cta:visited {
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
.btn--cta:hover,
.btn--cta:active {
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  transform: scale(1.1);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  line-height: 1.2;
}

*:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(109, 112, 141, 0.941);
}

.heading-primary {
  margin-bottom: 3rem;
}
